[2014-05-23 16:55] mrocklin opened #6 "Run through on binstar-build docs"
I'm walking through the binstar build docs and generating issues as I go.

First issue:
[code]

[2014-06-04 18:41] srossross opened #7 "Update the documentation for authoring a PYPI package"

[2014-06-13 17:05] srossross opened #8 "Trouble changing the package description: IE11"
pressing edit and then save the system does not make a change
immediately. For some reason you have to change twice and the previous
change appears in the description.

[2014-07-02 16:53] srossross opened #11 "Update the documentation for authoring a CONDA package"

[2014-08-09 21:34] LilaHickey opened #19 "Installation feedback/adjustments"
1) some of our commands are unique to redhat, should either disclaim that or offer actual alternatives
2) sudo useradd binstar should be  sudo useradd -m binstar
4) explicitly state token substitution in command
5) fix path/filenames -> format as terminal font
6)fix :8080 reference, make it a link to localhost
7) make username command a valid command (insert actual username), add email arg so user

[2014-08-11 15:04] #19 closed, assigned to LilaHickey

[2014-08-11 21:19] chdoig opened #22 "Improve Binstar docs and UX"
Some issues to improve Binstar docs mentioned in internal mailing-list:

- [ ] Simplify examples (no need to write https://conda.binstar.org/)

- [ ] Make clear that conda install -c foo/channel/bar package installs latest version

- [ ] Make clear how to download from a dev channel

- [ ] Change docs to include the possibility of downloading version other than latest

- [ ] Inconsistent titles wi

[2014-08-12 00:02] srossross opened #26 "Add https server install instructions"
Need to add docs on how to use https

[2014-08-28 19:08] gully opened #37 "Login with GitHub results in error "400 Bad Request err.get_description()""
I'm on Mac OS X 10.6 with Chrome if that matters.

[2014-09-16 18:12] tpowellcio opened #41 "Build Machine: before_script and after_script links are bad"
http://localhost:8080/build/build_config.html
http://localhost:8080/build/build_config.html#before_script,after_script

Looks like they should have a space in the link after the ',' and before the word 'after' **#before_script, after_script**

![screen shot 2014-09-16 at 13 11 15](https://cloud.githubusercontent.com/assets/649601/4292391/ead79da0-3dcc-11e4-903c-f596daaa8843.png)

[2014-11-05 22:59] Casolt opened #46 "Generating a token"
I tried this command under "How to Generate a Token":
binstar auth --create --name YOUR-TOKEN-NAME --scopes 'repos conda:download'
and I got back this:
binstar-script.py: error: unrecognized arguments: conda:download'

[2014-11-12 21:30] Casolt opened #47 "Binstar authentication/login"
I was following "Submit your first build" under "Binstar Build". I had already done the first two commands, and this is from the third command.
[code]

[2014-11-19 09:23] gmarkall opened #49 "404 release version does not exist and 500 Internal server error"
Attempting to binstar upload a numba package with the numbot account results in the following traceback:

[code]

(This occurred some number of minutes after Nov 18, 2014 9:46:43 AM, in case that is helpful).

The package that is being uploaded is built with this recipe: https://github.com/gmarkall/numba/tree/binstar/buildscripts/condarecipe.binstar

Any help/thoughts/advice appreciated.

[2015-01-06 18:02] riseriyo commented on #47
I am getting the same or similar error trying to log into Binstar using Windows XP. I removed the tokens, and tried again as well... but no go... I checked my Binstar account and it does not state any "Last Accessed" date in that column.

Microsoft Windows XP [Version 5.1.2600]
(C) Copyright 1985-2001 Microsoft Corp.

C:\Documents and Settings\Owner\My Documents\workspace>binstar login
Using binst

[2015-01-06 18:15] srossross commented on #47
@riseriyo the issue seems to be that binstar can not remove the file `u'C:\\Documents and Settings\\Owner\\Local Settin
gs\\Application Data\\ContinuumIO\\binstar\\https%3A%2F%2Fapi.binstar.org.token'`
do you know why this would be?

[2015-01-06 18:15] srossross commented on #47
Can you try removing it manually?

[2015-01-06 18:24] riseriyo commented on #47
Hi, srossross,

No. I don't know why it is not removing it manually. Could it be because it is being used in a virtual machine on a Mac? IDK.

Do you mean remove it from my Binstar account via web or via command? I tried the former but don't know how to do the latter at command line.

[2015-01-06 22:04] riseriyo commented on #47
Just a quick update. I think the issue involved the C:\Documents and Settings\Owner\Local Settings\ directory and its files and subdirectories were hidden. I removed the 'hidden' attribute from the directory and its files and subdirectories and was able to log in successfully at the command prompt in Windows XP. But I tried it a couple of times (logging in/out) at the command prompt, and there is

[2015-01-17 20:19] ovz opened #53 "binstar auth -l fails with a Traceback"
I created a token for an organization and was able to see it in the portal at https://binstar.org/organization/salford_systems/settings/access

Name	Last Accessed	Expires
internal_test_access	--	01/17/16 (11 months from now)	details 	view

BTW I noticed that

* Clicking internal_test_access leads to binstar.org home page.
* details and view lead to the same display
* Details display doesn't show t

[2015-01-17 21:12] ovz opened #54 "Failure to download package from organization non-standard channel"
I have uploaded a private package to my organization, using non-standard channel test

The page

https://binstar.org/organization/salford_systems/dashboard/channels/test

instructs to use the following command to install a package

conda install -c https://conda.binstar.org/salford_systems/channel/test package

Yet when I run it I get

[salford_wibu_test] C:\spm\git\demo\treenet_api_demo\test>cond

[2015-01-17 21:31] ovz opened #55 "Change Package Access button text is misleading"
At the page https://binstar.org/salford_systems/salford_wibu/settings/admin the label on button Change package access says Public when the package is Private and vice versa otherwise. It is confusing what the current status of the package is.

Shall we consider changing the button text to something like "Make Public" and "Make Private"?

[2015-01-17 21:35] ovz opened #56 "Command line to upload a private package"
How do I specify in binstar upload command line that my package shall be Private rather than public. Having

binstar_personal: True

in .conda_rc doesn't seem to make this effect.

[2015-01-17 21:44] ovz commented on #54
After I added the package to main channel I was able to use both command lines for Public and Private package. This confirms non-standard channel name is the trigger.

[2015-01-28 16:31] srossross commented on #56
@ovz you must create a private package *namespace* before you upload your first file.

[code]

If the package already exists on binstar.org then you will need to change this in the package settings via your browser.

[2015-01-29 14:34] mattions opened #57 "Reset password does not send the email"
Hello,

I've made my account today with binstar, however when I've tried to reset the password, I reach a page saying an email has been sent to my email address with a temporary url for the password reset.

Unfortunately, I did not receive any of these. (I've checked the spam, nothing there)

[2015-01-29 15:47] mattions commented on #57
Emails have arrived, although with several hours delay.

Closing.

[2015-01-29 15:47] #57 closed

[2015-02-02 19:15] openvest opened #58 "conda package repository package url"
The url should start with ""(empty string) but I'm seeing "//None/" which breaks the links.
![binstar2](https://cloud.githubusercontent.com/assets/1633611/6007095/c6232ed0-aae5-11e4-8984-31d278f9744b.PNG)

[2015-02-02 19:20] openvest opened #59 "trailing slash breaks links for "repodata""
I don't think that the UX places a trailing slash, but it one is present (evil url hackers), the page "looks" ok but some links are broken (see the double slash in the attached screenshot)

This is pretty minor and is we never generate a trailing slash it is arguably OK to "not-fix" this "issue"
![binstar1](https://cloud.githubusercontent.com/assets/1633611/6007168/52a28450-aae6-11e4-8e3e-ab51064e

[2015-02-02 19:32] openvest opened #60 "missing $ in $TOKEN in url reference"
![binstar3](https://cloud.githubusercontent.com/assets/1633611/6007459/30d14b98-aae8-11e4-9802-3ca9cf6c5e64.PNG)

[2015-02-13 13:00] faph opened #61 "Binstar badge shows incorrect version"
My package is currently at version `0.4.1`. Binstar badge shows `0.4.0`.

See: <https://binstar.org/OpenHydrology/autostatistical/badges>

[2015-02-13 22:26] faph commented on #61
Package is now at `0.4.4` but showing as `0.4.3`. Is it a cache thing or is it alway one version too low?

[2015-02-13 23:57] srossross commented on #61
Yes, this could be a cache issue. I will take a look. Thanks for bringing this to our attention.

[2015-02-16 10:00] faph commented on #61
Thanks. It seems to be in sync again...

[2015-03-06 22:19] jayvius opened #63 "'binstar remove' error message"
Trying to remove a package from binstar using the remove command, but forgetting to prepend the username to the package name:

     binstar remove foo

produces an unhelpful error message:

    Using binstar api site https://api.binstar.org

[2015-03-18 17:15] flamingbear opened #64 "Fix display of latest package available under channel tab."
When looking at [channels](https://binstar.org/NSIDC/extended-generic-swath/channels) page, it shows that the latest version in the dev channel is 0.0.1dev9, but if you look under the [files](https://binstar.org/NSIDC/extended-generic-swath/files) tab you can see there are later build versions

The command line interface to install and upgrade **does** get the most recent build, but the interface

[2015-03-27 10:27] krischer opened #67 "Files list paginator for a package only shows two pages"
The paginator in the files list of a package, e.g.

https://binstar.org/obspy/obspy/files?page=1

only shows two pages, even though there are more packages.

It is possible to navigate to the third page by changing the URL to

https://binstar.org/obspy/obspy/files?page=3

so this is just a UI issue.

![screen shot 2015-03-26 at 17 33 43](https://cloud.githubusercontent.com/assets/800487/6851263/4b

[2015-03-27 23:42] #56 closed

[2015-04-07 16:53] malev opened #68 "Document notebooks upload"

[2015-04-14 17:37] FvD opened #69 "r documentation not in github"
The [documentation for r packages](http://docs.binstar.org/r.html) is not editable here in github.

[2015-04-14 18:11] srossross commented on #69
Thank you for bringing this up. This page is currently a dead link.  We are currently actively working on conda R support. This documentation oversight will be updated with the new functionality.

cc @asmeurer

[2015-04-23 16:17] openvest opened #70 "package missing"
this is at the JPM AS install.
I've downloaded and used the teamcity-messages package here quite a number of times.

It still shows up in the ui but clicking on it or attempting to download/install  via conda all result in a 404 error.

![tc_messages_1](https://cloud.githubusercontent.com/assets/1633611/7301728/75de17b2-e9b2-11e4-8aa6-6741bff1e0f1.PNG)
![tc_messages_2](https://cloud.githubusercont

[2015-05-04 08:17] BjornFJohansson opened #71 "confirmation emails and password reset emails does not arrive"
Hi, I signed up for a new account yesterday, and the confirmation emails have not arrived.
The email I used is bjorn_johansson@bio.uminho.pt

[2015-05-06 17:03] BjornFJohansson commented on #71
they arrived now, thanks

[2015-05-08 22:03] ijstokes opened #73 "Very weird to put anything other than config files into /etc"
Docs here http://docs.continuum.io/anaconda-server/easy-gui/index.html#configure-the-server tell me to do:

[code]

which if I'm reading it correctly is super weird.  `/etc` should only contain configuration files, not "package storage".  That should be in something like `/var/cache/binstar`

Enterprise systems will often have `/etc` on a different file system and/or have it backed up differently.

[2015-05-08 22:10] ijstokes commented on #73
This was the wrong place to put this.  Moved to Binstar/binstar.org#319

[2015-05-08 22:10] #73 closed

[2015-05-22 15:08] schadde opened #74 "binstar confirm e-mail address has localhost as server in confirmation URL"
This is the beginning text of the email I received to confirm my email in binstar:

"Thanks for signing up for binstar!

Please click the link below to confirm activation of your binstar account:

https://localhost:4990/account/confirm_email?...."

[2015-05-26 08:52] seandavi commented on #74
Same here.

[2015-05-26 18:26] cleme commented on #74
Yep, same issue

[2015-06-01 22:31] kalefranz opened #76 "*NO* healthy workers"
https://binstar.org/kalefranz/nginx/builds/16/0

Build 16.0 Sumitted id:556cdce43273af6fdb97525c
There are *NO* healthy workers accepting jobs for the queue build/binstar/public. Your build was not submitted

[2015-06-10 14:43] bkreider opened #78 "Binstar build docs - out of date old content"
From Antoine (not sure of his github name)
[code]

[2015-06-10 14:45] pitrou commented on #78
(that was me)

[2015-06-10 18:29] bkreider opened #80 "missing 404 page"
we have a nasty 404 page, because error.html, doesn't exist.  The missing key is error.html.

![screen shot 2015-06-10 at 2 27 32 pm](https://cloud.githubusercontent.com/assets/1699478/8090567/d1dd9caa-0f7c-11e5-962d-b1b2bf62930a.png)

If you have a different error page, you can change the setting here in the AWS console for S3:
![screen shot 2015-06-10 at 2 28 26 pm](https://cloud.githubuserconte

[2015-06-13 20:10] drf5n commented on #47
I get similar problems:

     $ binstar upload /Users/drf/anaconda/conda-bld/osx-64/pyproj-1.9.4-py27_0.tar.bz2
    Using binstar api site https://api.binstar.org
    The action you are performing requires authentication, please sign in:
    Using binstar api site https://api.binstar.org
    Username: drf5n
    drf5n's Password:
    [error] It appears you are already logged in from host v21837.loc

[2015-06-13 20:26] drf5n opened #81 "Can't "get started" -- authorization error"
Following the getting started docs at http://docs.binstar.org/  I got:

    $ conda install -c binstar binstar
    Fetching package metadata: ....Error: HTTPError: 401 Client Error: UNAUTHORIZED: https://conda.binstar.org/binstar/noarch/

I appear to have a binstar installed:

    $ binstar --version
    binstar Command line client (version 0.10.1)
    $ binstar login
    Using binstar api site ht

[2015-06-13 23:13] drf5n commented on #81
So I now understand that "Logging in again will remove the previous token." means that it will replace the previous token on the server.  I saw this by watching the date and ID on my https://binstar.org/settings/access page before and after a cycle of logging in.

My user name on my local machine (drf) is different than my account on binstar (drf5n)  Could this be an issue?

[2015-06-19 14:23] marscher commented on #61
This also applies to the downloads badge (where caching seems to hurt more). It is related to this issue:
https://github.com/github/markup/issues/224
You have to set cache (eg. expires) parameters in http headers for this to work properly.

[2015-06-22 12:50] frol opened #82 ""Contact us" link leads to a redirection loop"
http://continuum.io/contact-us

"This webpage has a redirect loop"

[2015-06-22 12:53] frol opened #83 "binstar.org "Invalid username or password""
It started with that it didn't allow me to sign in with saved credentials. After I tried some my "standard" passwords, I followed "I forgot my password" link and successfully updated my password, but even after this I still get "Invalid username or password".

WTF?

[2015-06-22 16:39] chrisjsewell commented on #61
I have the same issue with showing an old version (`0.4.3` instead of `0.5.0`). Also I don't know if this is related but the package version as shown on the site seems to fluctuate between the latest version and the original version, i.e. at present if I go to https://binstar.org/cjs14/pygauss and keep reloading the page, sometimes it will show `v0.2.1` and others is will show `0.5.0`.

[2015-06-23 12:48] frol commented on #83
I tried to use my email instead of username to log in :(
Stupid me

[2015-06-23 12:48] #83 closed

[2015-06-23 15:34] jchodera opened #84 "binstar --force upload with token gives [BinstarError] Invalid dist_id"
We have an automated build server that builds conda packages and pushes them to our `omnia/openmm-dev` binstar package, but when passing a token (marked below as `****` for security) and using `--force`, these uploads occasionally fail with `Invalid dist_id` errors.
[code]
This issue has only started to appear recently.

[2015-06-24 23:07] dgonzo commented on #74
Probably related.

Got a confirmation email with this link:
"http://Magic/account/confirm_email?code=<code here>&email=<emailhere>"

[2015-06-27 15:09] jchodera opened #85 "Import failure for mpi4py package on osx causes abort rather than exception"
On `osx`, attempting to initialize MPI via
[code]
used to raise an `Exception` if the program was not launched via MPI, but now causes an ungraceful abort exit:
[code]

[2015-06-27 16:31] jchodera commented on #85
This appears to be a duplicate of https://github.com/ContinuumIO/anaconda-issues/issues/96

[2015-06-27 16:31] #85 closed

[2015-07-01 00:22] jchodera commented on #84
Sorry, wrong tracker---moved this to here: https://github.com/Anaconda-Server/binstar/issues/173

[2015-07-01 00:22] #84 closed

[2015-07-09 20:39] ahmadia opened #86 "Reset password tokens are invalid"
I won't paste the token just in case it's somehow usable, but a fresh reset token link was invalid when it arrived in my inbox.

[2015-07-09 21:41] ahmadia commented on #86
I tried again 2 hours later and it wasn't an issue.

[2015-07-09 21:41] #86 closed

[2015-07-09 21:43] ahmadia opened #87 "Unclear where to report issues"
The Anaconda Server documentation (hosted by this repository) links back here to "Report an issue" when reading the documentation.  Otherwise, there's no clear lines of communication for requesting help or reporting issues in the server itself.

[2015-07-13 00:09] dhirschfeld opened #88 "Broken link"
The page https://anaconda.org/settings/build-queue

has a broken link pointing to a draft version of the docs:

http://docs.anaconda.org/draft/build-config.html#Queues

[2015-07-25 17:53] dalcinl opened #92 "Outdated "Please install binstar using pip""
http://docs.anaconda.org/examples.html#InstallingTheBinstarCommand
I've been using binstar and binstar-build from conda with no problems for months.

BTW, I would suggest to mention first the "To install binstar with conda" instructions.

[2015-07-25 19:39] malev commented on #92
@dalcinl thanks for reporting.
If you take a look at this https://github.com/Anaconda-Server/docs.anaconda.org/commit/14470c3ab6b4b67172835dfa18df29c949b0ed4c you will see that the update is soon to be released.

[2015-07-25 19:40] malev commented on #88
You are right!
I'm closing this and open a issue at the anaconda.org issue tracker.
Thanks for reporting

[2015-07-25 19:40] #88 closed

[2015-07-28 21:06] #92 closed

[2015-07-28 21:06] malev commented on #87
Agree! Thanks for the suggestion

[2015-07-29 14:35] tdhopper opened #94 "Broken links on anaconda.org/dashboard"
When I'm logged in to https://anaconda.org/dashboard there is this text:

[code]

The installing and distributing links are both broken.

[2015-07-29 21:43] malev commented on #94
Thanks for reporting!

[2015-08-04 17:56] goanpeca opened #97 "token_gen.html miising?"
The `access tokens` link inside http://docs.anaconda.org/#PrivatePackages results in 404

Should a new page be created for this ?

The original binstar content seems to be (http://docs.binstar.org/token_gen.html)

[2015-08-05 02:18] CloLanglais opened #98 "comment on: library issues with cdo and nco"
Hi,

I finally solved my problem, but just wanted to let people know that the packages needs to be changed for nco and cdo.

I just reinstalled anaconda on OS X
installed nco
$conda install -c https://conda.binstar.org/ioos nco
installed cdo
$conda install -c https://conda.binstar.org/birdhouse cdo

I have a library issue when using nco and cdo
"dyld: Library not loaded: @rpath/libhdf5_hl.9.dylib"

[2015-08-05 19:08] mcg1969 opened #99 "Can't create groups in an organization"
I've created a new organization ("Gurobi") and whenever I try to create a group within that organization, it rejects every single choice I try: "Users", "Contributors", etc.

[2015-08-05 19:10] srossross commented on #99
Thanks, try only ascii lower case. I'll fix/improve this for next release

[2015-08-05 19:11] mcg1969 commented on #99
Yes, that works.

[2015-08-07 19:43] moble commented on #76
+1

[2015-08-08 22:00] malev commented on #99
Moving this to a proper repo

[2015-08-08 22:00] #99 closed

[2015-08-08 22:04] malev commented on #97
@goanpeca thanks for reporting. Will fix soon

[2015-08-09 22:37] mathieu1 commented on #74
Similar issue today:

Confirmation email link was `http://alpha.anaconda.org/account/confirm_email?...`, which lead to a 404 error page.
Removing `alpha.` in the link worked.

[2015-08-10 15:43] mutirri commented on #76
On Friday build workers were down for maintenance purposes.
However right now, both linux64 machines from build/binstar/public queue are up and ready to serve.

[2015-08-10 15:43] #76 closed

[2015-08-18 20:41] malev opened #105 "References to binstar"
Still a lot of references to binstar in the docs:
http://docs.anaconda.org/build-config.html

@electronwill

[2015-08-18 20:58] electronwill commented on #105
Good catch. I'll change 'binstar' to 'Anaconda.org' in the text, and add a sentence explaining that Anaconda.org used to be binstar.org. After that I'll list the commands and variables that contain 'binstar', use the conda docs where possible to figure out what they should change to, and follow up with you here about anything that's still unclear.

[2015-08-21 15:53] watsodw opened #106 "Couldn't update conda-env"
Got this error:
Error: HTTPError: 404 Client Error: NOT FOUND: https://conda.binstar.org/anaconda/osx-64/conda-env-2.4.2-py27_0.tar.bz2

[2015-08-22 19:25] BjornFJohansson opened #107 "There are *NO* healthy workers accepting jobs for the queue build/binstar/public."
Hi,
I have had no builds for about 24 hours. Is this excpected? Is there a way of telling if there is capacity
available on Anaconda.org?

thanks!

[2015-08-24 07:49] mutirri commented on #107
Hi,

Sorry for that.

No.
We have some issues related to anaconda `build-workers`.
However right now both of them are available once again.
Feel free to use them.

If you are asking:

a) of space occupied by all of your packages (and your account limits for them), then plase visit below page:
https://anaconda.org/settings/storage
b) but if you are asking of free space on the disk which is availabl

[2015-08-24 07:49] #107 closed

[2015-08-24 16:01] Maggie-M commented on #94
@malev I noticed there's another broken install link on the description page of a given package (*https://anaconda.org/channel/package*)

![screen shot 2015-08-24 at 10 56 30 am](https://cloud.githubusercontent.com/assets/1417520/9445006/69cfeb32-4a4f-11e5-9fdf-d34c481fefc7.png)

If you click that link, you're taken to this page, http://docs.anaconda.org/conda.html#Install , which returns a 404.

[2015-08-25 17:00] malev opened #108 "http://docs.anaconda.org/cli.html is broken"
@electronwill the website is broken and it seems like you have something off on your environment when you run the deploy. We can fix this easily

[2015-08-25 17:13] malev commented on #106
hello @watsodw, looks like you have some updates to do.
* We renamed `binstar.org` into `anaconda.org`.
* We released some new products that you can find helpful.
Can you please try updating conda. Run `conda update conda` and try it again? If you run into more problems please consider writing to the [conda mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/conda).

[2015-08-25 17:14] #105 closed

[2015-08-25 17:15] malev commented on #98
@CloLanglais can you please move this question to the [anaconda mailing list](https://groups.google.com/a/continuum.io/forum/#!forum/anaconda)

[2015-08-25 17:15] #98 closed

[2015-08-25 17:16] malev commented on #82
@frol thanks! it's been fixed now

[2015-08-25 17:16] #82 closed

[2015-08-25 17:18] malev commented on #81
@drf5n I think we need to update that piece of documentation.
FWI, we renamed `binstar` into `anaconda-client` so could you try:
[code]
If that works, you can use `anaconda` in replace to binstar.

[2015-08-25 17:18] #81 closed

[2015-08-25 20:02] electronwill commented on #108
Sorry I didn't see the email and reply to this sooner! I haven't touched the cli.html, _cli/anaconda-client.html, or _cli/binstar-build.html pages. I haven't run a deploy script; I think Kevin does that. A few times I've heard people saying that there's some page docs.anaconda.org/foo that shows titles with no text below them, while the corresponding page docs.binstar.org/foo looks fine, and confi

[2015-08-25 20:05] electronwill commented on #108
Wait, I think I understand what you mean-- by building the pages locally with something wrong in my environment, I may have caused these pages to be blank, even if I didn't change anything in them. Let me do a local build and check to see if it's wiping out the text that way, then I'll report back here.

[2015-08-25 20:12] electronwill commented on #108
Yes, after running 'hyde gen' and 'hyde serve -p 8080', http://localhost:8080/cli.html does show titles without text. Here's my environment:

(docsanacondaorg)docs.anaconda.org master$ conda list
# packages in environment at /Users/wwarner/anaconda/envs/docsanacondaorg:
#
commando                  0.3.2a0                   <pip>
distribute                0.6.45                   py27_1
fswrap

[2015-08-25 20:15] electronwill commented on #108
Kevin says the Continuum site seems to use jinja2 2.7.3 and have problems with 2.8, so maybe that's it?

[2015-08-25 20:24] electronwill commented on #108
Tried with jinja2 2.7.3, still not working.

[2015-08-25 20:56] malev commented on #108
[code]
Try that!

[2015-08-25 20:59] electronwill commented on #108
OK, trying...

[2015-08-25 21:04] electronwill commented on #108
Very surprising result: There is now text for everything listed in anaconda-client.html, but still no text for the sections at the end listed in binstar-build.html .

[2015-08-25 21:07] malev commented on #108
@electronwill that is correct, I can fix that later. but in the mean time we have something :)

[2015-08-25 21:11] electronwill commented on #108
In general, should anyone who wants to build the docs have anaconda-client installed?

[2015-08-25 21:12] malev commented on #108
yes, should be a requirement of the project

[2015-08-25 21:13] electronwill commented on #108
OK, thanks. I'll add that to the readme.

[2015-08-25 21:17] malev commented on #108
@electronwill there is a PR with an evironment file and with the readme updated

[2015-08-26 22:12] #108 closed

[2015-08-26 22:17] electronwill commented on #106
https://conda.binstar.org/anaconda/osx-64/ does show 'conda-env	2.4.2	py27_0	conda-env-2.4.2-py27_0.tar.bz2', and the link goes to a 404. https://conda.anaconda.org/anaconda/osx-64/ also shows 'conda-env	2.4.2	py27_0	conda-env-2.4.2-py27_0.tar.bz2', and that link is also a 404.

[2015-08-26 22:27] electronwill commented on #87
Good point. It makes sense for the docs to link to https://github.com/Anaconda-Server/docs.anaconda.org/issues to report bugs in the docs. For bugs in Anaconda Server there is https://github.com/Anaconda-Server/anaconda-server/issues but that's a private repo. https://github.com/Anaconda-Server/anaconda-client/issues is public, and maybe that's the best choice.

[2015-08-27 21:38] malev commented on #87
@electronwill because `conda-env` lives at the anaconda's repo: http://repo.continuum.io/pkgs/free/osx-64/

[2015-08-27 21:39] malev commented on #106
@electronwill because conda-env lives at the anaconda's repo: http://repo.continuum.io/pkgs/free/osx-64/

[2015-08-27 21:39] #106 closed

[2015-08-29 19:29] asmeurer opened #111 "Some docs issues reported on gitter"
Reported on the conda/conda gitter:

 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!
!!  The 'binstar-build' conda package has been renamed to 'anaconda-build'.
!!  Please run:
!!
!!    conda install anaconda-build
!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2015-08-30 19:00] malev commented on #111
thanks @asmeurer I believe @electronwill will update this soon

[2015-08-31 01:57] stephenakearns commented on #97
Hi @malev - if this is a bug that needs to be fixed in Anaconda Server, would it help if this was transferred the right repo? @electronwill is going thru all the documentation issues in this repo and will transfer over any actual bugs to the main anaconda server repo?

[2015-08-31 02:08] stephenakearns commented on #87
@ahmadia @malev @electronwill  - if you are logged into Anaconda.org...

1. Footer: "report an issue" links to this repo
2. Footer: "contact us" links to a sales page on continuum.io (don't love this)
3. Plans and Pricing page: has a "contact us" link which is a mailto:support@Anaconda.org which is an alias for support@continuum.io which reaches the @JeremyEnns and the support team.

My proposal:

[2015-08-31 02:11] stephenakearns commented on #68
Hi @malev - can you add a description here or close this item if it's not an issue?

[2015-08-31 02:13] stephenakearns commented on #8
@srossross  - this looks like an old issue that was fixed. Closing it. Feel free to reopen if it's not actually fixed.

[2015-08-31 02:13] #8 closed

[2015-09-01 19:13] electronwill commented on #111
1) At http://docs.anaconda.org/examples.html I understand that binstar-build should be anaconda-build.

1A) Should "conda config --set binstar_upload no" be binstar_upload, anaconda_upload, or something else?

1B) Does "anaconda-build init" add .binstar.yml , .anaconda.yml , or something else?

2) It seems the repository that link pointed to is renamed and the file it pointed to is gone.

2A) Shou

[2015-09-01 19:20] electronwill commented on #97
It looks like this one is a docs bug rather than an Anaconda Server bug, because the "access tokens" link points to http://docs.anaconda.org/token_gen.html which is a 404, and it looks like there should be a page there explaining access tokens, similar to http://docs.binstar.org/token_gen.html .

@malev , is that correct?

Also, is the team planning to end the system of token locked channels and u

[2015-09-01 19:22] asmeurer commented on #111
`conda config --set binstar_upload` has been renamed to `anaconda_upload` (but `binstar_upload` still works for backwards compatibility).

[2015-09-01 19:24] electronwill commented on #94
confirmed-- http://docs.binstar.org/conda.html#Install works, http://docs.anaconda.org/conda.html#Install 404s

[2015-09-01 19:41] electronwill commented on #111
Thank you!

[2015-09-01 20:04] electronwill commented on #80
Should the docs.anaconda.org 404 page be about the same as the one for anaconda.org?

https://anaconda.org/foo

[2015-09-01 20:09] electronwill commented on #78
Seems to be fixed now:

http://docs.binstar.org/build_config.html : redirect to http://docs.binstar.org/build-config.html
http://docs.binstar.org/build-config.html : correct page
http://docs.anaconda.org/build_config.html : 404
http://docs.anaconda.org/build-config.html : correct page

[2015-09-01 20:09] #78 closed

[2015-09-01 20:13] electronwill commented on #74
This seems to be a problem with the software and not the docs, and already documented here: https://github.com/Anaconda-Server/anaconda-server/issues/325

I'm closing this one, but if I've misunderstood, please just go ahead and re-open it.

[2015-09-01 20:13] #74 closed

[2015-09-01 20:13] #71 closed

[2015-09-01 20:13] bkreider commented on #80
Please no.  I can't stand that 404. ;)

[2015-09-01 20:17] electronwill commented on #70
Apologies for the delayed response! Was this resolved?

[2015-09-01 20:28] electronwill commented on #80
Hah! Yeah, I've been hit with it enough times not to like it much either.

More specific question: Should the docs 404 have any information that the anaconda.org 404 does not? It seems that the anaconda.org 404 shows the anaconda.org header and footer, and if the docs 404 has the header with the "FAQ" link and the footer with the "Report an issue" link, I think that should be enough, but want to b

[2015-09-01 21:09] electronwill commented on #68
Does this mean that the docs should document how to upload a notebook, and they don't yet?

[2015-09-01 21:13] electronwill commented on #67
Apologies for the slow reply! Moved to anaconda-server repo issues at https://github.com/Anaconda-Server/anaconda-server/issues/541

[2015-09-01 21:13] #67 closed

[2015-09-01 21:14] bkreider commented on #80
I'm the last person to really answer the web design questions.  My main problem was just that we don't have any 404 error.html defined, so people get the ugly S3 error instead.

[2015-09-01 21:15] electronwill commented on #80
OK, I'll just work on getting error.html defined for now, and if anyone wants to add more info later we can handle it then.

[2015-09-01 21:39] electronwill commented on #64
Apologies for the slow response! Was this resolved? Currently extended-generic-swath seems gone, but https://anaconda.org/NSIDC/gsx/channels and the files tab there seem to be working correctly.

[2015-09-01 21:46] electronwill commented on #63
Apologies for the slow reply, Jay! Moved to the anaconda-server repo issues:

https://github.com/Anaconda-Server/anaconda-server/issues/543

[2015-09-01 21:47] #63 closed

[2015-09-01 21:57] electronwill commented on #61
https://binstar.org/cjs14/pygauss still displays 0.2.1 some times and 0.5.0 other times. Am now merging this into the anaconda-server repo's issue describing this problem:

https://github.com/Anaconda-Server/anaconda-server/issues/314

[2015-09-01 21:57] #61 closed

[2015-09-01 22:01] electronwill commented on #60
Confirmed. Will fix ASAP.

[2015-09-01 22:01] flamingbear commented on #64
if you look at
https://anaconda.org/NSIDC/nsidc0081/channels

You can see that the latest 'dev' package is : 1.2.0dev9
and if you look at the dev channel. you can see there is a 1.2.0dev25

So nope, this isn't fixed.  It's a website problem though, an install will get the correct package.

Please let me know when you've looked so that I can add the 1.2.1dev+ files back into the dev channel.

Thank

[2015-09-01 22:03] electronwill commented on #59
Confirmed that this problem is present by going to https://conda.anaconda.org/nsidc/ . Low priority but worth fixing on the site.

[2015-09-01 22:07] electronwill commented on #59
It is a bug with the site and not the docs, so created a new issue there and will close this one:

https://github.com/Anaconda-Server/anaconda-server/issues/544

[2015-09-01 22:07] #59 closed

[2015-09-01 22:10] electronwill commented on #64
Understood and escalated. Thank you for helping me reproduce the bug!

[2015-09-01 22:11] flamingbear commented on #64
I don't know how high priority I would consider it.  We're moving away from a dev number on our builds, so this won't affect us anymore.  But I thought you guys should see what was happening there.

Cheers,
Matt

[2015-09-01 22:13] electronwill commented on #64
Yes, it's not the worst bug in anaconda.org I've seen, but we're definitely glad to know about it. Thank you for telling us.

[2015-09-01 22:19] electronwill commented on #64
Closed here and created as a new anaconda-server issue: https://github.com/Anaconda-Server/anaconda-server/issues/545

[2015-09-01 22:19] #64 closed

[2015-09-01 22:22] electronwill commented on #58
Apologies for the slow reply! Is this bug still present?

[2015-09-01 22:27] flamingbear commented on #64
Can I move my dev2 channel packages back to dev?  Or do you still need that example?

[2015-09-01 22:51] electronwill commented on #64
You can go ahead and move them back to dev. Now that we're sure the bug is still there after all these months of changes since Mar 18, it should be pretty easy to reproduce it in one of our own repos.

[2015-09-02 18:14] goanpeca commented on #68
Isnt this covered by

http://docs.anaconda.org/cli.html#ManagingNotebooks  ?

[2015-09-02 18:14] goanpeca commented on #68
Or the idea would be to add it to the [examples](http://docs.anaconda.org/examples.html) part?

[2015-09-02 21:35] electronwill commented on #87
From Flowdock today:

Sean 14:50
@team @StephenK and I were talking. we are going to eventually shut down the issue pages on anaconda-server/anaconda-client, anaconda-server/anaconda-build and anaconda-server/deploy
We are going to use anaconda-server/anaconda-server for internal issues
and anaconda-server/docs.anaconda.org to let public customers report issues.

[2015-09-02 21:46] electronwill commented on #54
Apologies for the slow response! Was this resolved?

[2015-09-02 21:47] electronwill commented on #53
Apologies for the slow response! Was this resolved?

[2015-09-02 21:48] electronwill commented on #49
Has this been resolved?

[2015-09-03 14:16] ovz commented on #53
Looks like it was

[2015-09-03 14:16] #53 closed

[2015-09-03 21:13] electronwill commented on #46
@srossross , I'm going through all the old issues-- is this one all wrapped up and ready to close now?

[2015-09-03 21:15] electronwill commented on #41
Seems to be fixed, but please re-open this if I've made a mistake.

[2015-09-03 21:15] #41 closed

[2015-09-03 21:16] electronwill commented on #37
@srossross this is fixed, right?

[2015-09-03 21:17] electronwill commented on #26
Is this fixed?

[2015-09-03 21:25] bkreider commented on #26
This is in the docs as i've followed them to get https working.

[2015-09-03 21:26] electronwill commented on #22
@chdoig are these all solved, or is there still more to do after #173 and #174 ?

[2015-09-03 21:26] electronwill commented on #26
Thanks!

[2015-09-03 21:26] #26 closed

[2015-09-03 21:27] electronwill commented on #11
This is done, right?

[2015-09-03 21:28] electronwill commented on #7
Does the current version of http://docs.anaconda.org/examples.html cover this sufficiently?

[2015-09-03 21:29] electronwill commented on #6
Are these all solved and ready to close?

[2015-09-03 23:05] electronwill commented on #60
Fixed in https://github.com/Anaconda-Server/anaconda-server/pull/568

[2015-09-03 23:05] #60 closed

[2015-09-03 23:24] electronwill commented on #111
tested, turns out "anaconda-build init" still names the file it creates .binstar.yml

[2015-09-03 23:41] electronwill commented on #111
http://docs.anaconda.org/examples.html now has anaconda-build instead of binstar-build, after https://github.com/Anaconda-Server/docs.anaconda.org/pull/112

[2015-09-04 02:35] stephenakearns commented on #87
Do you want me to create an Issue to track "Create 'Contact Us' page"

On Tue, Jul 28, 2015 at 4:07 PM, Marcos Vanetta <notifications@github.com>
wrote:

--
*Stephen Kearns*
*Product Manager*

[2015-09-10 15:14] pzwang opened #113 "When user name is empty, anaconda.org displays "<Undefined>""
We should have a nicer-looking placeholder for "No User Name" that doesn't make it look like a template rendering error in our software.  Ideally, it would say something like "No User Name" or be just the same as the user's short name, and be a link to the Profile Settings page.

[2015-09-11 14:52] jakirkham opened #114 "BUG: Copied package results in author change"
So, someone copied my [`openblas`]( https://anaconda.org/jakirkham/openblas ) package, which is great. I'm happy to see it being used by others.

That being said, it resulted in my name being removed as the author on the uploaded files in my channel. Instead, the person, who copied, shows up as the author. This seems incorrect as I built and uploaded the package.

[2015-09-11 14:57] goanpeca commented on #114
Thanks for reporting, we have moved the issue to our internal issue tracking system.

[2015-09-16 18:09] electronwill commented on #113
This needs changing in the code instead of in the docs, so I moved it: https://github.com/Anaconda-Server/anaconda-server/issues/633

[2015-09-16 18:09] #113 closed

[2015-09-16 18:10] #6 closed

[2015-09-16 18:11] #7 closed

[2015-09-16 18:11] #11 closed

[2015-09-16 18:13] #22 closed

[2015-09-16 18:13] #37 closed

[2015-09-16 18:14] #46 closed

[2015-09-16 18:15] #49 closed

[2015-09-16 18:15] #54 closed

[2015-09-16 18:16] #55 closed

[2015-09-16 18:26] jakirkham commented on #114
I understand this has been closed here again.

If its just because this was moved to an internal issue tracker, that is fine. However, if this is not the reason, I would like you to be aware that I am still seeing this problem.

[2015-09-16 18:32] electronwill commented on #114
Yes, the bug is still active, and has been copied into the internal issue tracker at https://github.com/Anaconda-Server/anaconda-server/issues/612 . I apologize for not saying so when I closed the issue. @srossross should we leave docs.anaconda.org issue #114 open as well, to remind us to reply here when #612 is resolved?

[2015-09-16 19:29] #58 closed

[2015-09-16 19:29] #68 closed

[2015-09-16 20:18] #69 closed

[2015-09-16 20:18] #70 closed

[2015-09-16 21:02] #94 closed

[2015-09-16 21:10] #111 closed

[2015-09-16 21:11] electronwill commented on #114
Talked with @srossross and confirmed that we will leave this open and reply here when it's resolved.

[2015-09-16 21:50] electronwill commented on #80
moved to https://continuumproductteam.atlassian.net/browse/AS-714

[2015-09-16 21:50] #80 closed

[2015-09-16 22:00] electronwill commented on #87
https://continuumproductteam.atlassian.net/browse/AS-715

[2015-09-16 22:00] #87 closed

[2015-09-16 23:57] groutr commented on #54
I have a non-standard channel in my account and I can install with
`conda install -c <username>/channel/<channel name> <package(s)>`

[2015-09-18 10:29] doob-project opened #116 "Private packages download failure caused by invalid certificate"
While downloading private packages from our anaconda account:

Error: Connection error: HTTPSConnectionPool(host='binstar-cio-packages-prod.s3.amazonaws.com', port=443): Max retries exceeded with url: "..." (Caused by ProtocolError('Connection aborted.', error(104, 'Connection reset by peer'))): <our_private_anaconda_repository>

Having the same issue while downloading the tar.gz from the browser.

[2015-09-21 18:18] saulspatz opened #117 "Cannot Sort By Number of Downloads"
I'm just trying out conda.  In accordance with the instructions in the 30-minute tour, I went to http://anaconda.org/search?q=bottleneck&sort=_ndownloads&sort_order=1&reverse=true
Clicking on the downloads button doesn't sort by number of downloads.  I see reverse=true and reverse=false toggling in the address bar, but the order of the packages doesn't change at all.

I am using Chrome Version 45.

[2015-09-22 15:55] remram44 opened #118 "Package copy command on conda.binstar.org is STILL wrong"
I reported that a long time ago through the website, but heh.

https://conda.binstar.org/

    $ binstar package --copy wakari/flask/0.10 YOU --channel testing
    binstar package: error: one of the arguments --add-collaborator --list-collaborators --create is required

[2015-09-22 15:57] remram44 commented on #118
Note that using the correct command gives me "Internal server error" so this is just great.

    $ binstar copy --to-owner vida-nyu remram/file_archive/0.6
    Using binstar api site https://api.anaconda.org
    [ServerError] Internal server error

[2015-09-22 20:24] srossross commented on #118
@remram44 I am very sorry for the inconvenience.  Our copy functionality seems to be broken. we are actively working on this in an upcoming release.

For now we must disable all copy operations until this issue is resolved.

[2015-09-22 20:27] srossross opened #119 "Copy anaconda packages temporarily out of service"
This will be back up and working in a future release

[2015-09-22 21:32] electronwill commented on #117
This issue is now on our bug tracking list, and we will reply here when it is resolved.

[2015-09-22 21:52] electronwill commented on #116
This issue is now on our bug tracking list, and we will reply here when it is resolved.

[2015-09-23 01:54] remram44 commented on #118
An answer from the Anaconda team! I'm off buying a lottery ticket, but don't wait for me to check out conda/conda-env#60

[2015-09-24 21:39] electronwill commented on #116
Our developers think this may have been an intermittent network connection problem. Could you please retry and let us know whether it works? If you get the same error again, we'll escalate the issue and do more testing to track it down.

[2015-09-28 15:07] doob-project commented on #116
Hello, thanks for your reply.
We are having the same error, from the browser and from the command line.

[2015-09-28 19:32] jchodera opened #122 "'Invalid dist_id' errors when uploading packages to binstar"
We're seeing sporadic `Invalid dist_id` errors when attempting to upload packages to binstar:
[code]
These also have the undesirable effect of first deleting the remote package on binstar before attempting to upload, which leaves us without working packages on binstar.
Any ideas what might be causing this, or how to fix it?

[2015-09-28 23:04] electronwill commented on #116
Thank you. Issue is escalated and I will continue to reply here with updates.

[2015-09-29 09:58] mbalasso opened #123 "Enhancement proposal: capped channel to limit number of files or delete packages by upload time"
We are happy users of anaconda server for our private packages.
Our Continuous Integration Infrastructure publishes an average of five artifacts a day, the result: an huge amount of packages.
It would be nice to have a "capped channel" and store only 100 packages and delete the oldest one while publishing a new one.
Otherwise with the web interface it would be useful to have the possibility to del

[2015-09-29 18:54] electronwill commented on #122
This is now in our bug tracker and we'll reply here with more information as soon as possible.

[2015-09-30 19:47] electronwill commented on #114
Copy functionality is temporarily disabled until it can be relaunched in a future release: https://github.com/Anaconda-Server/docs.anaconda.org/issues/119

[2015-10-01 00:58] #97 closed

[2015-10-01 12:33] dfroger commented on #119
Is copying the package by hand (ananconda upload ...) the best alternative for now?
Is there a way to presever package author name?

[2015-10-02 20:52] hainm commented on #122
I got the same problem when building C++ library. Just want to add my voice here and hopefully the problem will be solved soon.

[2015-10-05 17:48] henningpeters commented on #107
The problem seem to be occurring again, currently no builds can be submitted. Please be aware that the error message might be also a bit misleading as it is not 100% clear whether the problem is in the submitter's responsibility or not:

[code]

Last successful build according to ```https://anaconda.org/dashboard/builds?queue=build%2Fbinstar%2Fpublic&all=1``` was 16 days ago.

[2015-10-06 08:08] doob-project commented on #116
Hello, any news about this issue? Thanks.

[2015-10-06 23:41] jakirkham commented on #114
Understood, thanks for the update.

[2015-10-06 23:51] jakirkham commented on #119
Could I propose a different solution than copying?

I think one of the challenges in the current ecosystem is that there are many useful packages from many people. This is, in fact, a good challenge. However, it raises the issue. What is the best way to get them from maintainers to end users? How many maintainers do we need for a type of package? Related, how many copies of a single package do we

[2015-10-09 16:52] stephenakearns commented on #122
Short update - not easily reproduced in our environment. Short term: exploring adding additional logging info to better understand the error. Long-term solution: removing the need for the Dist_ID during upload process.

[2015-10-09 16:53] stephenakearns commented on #118
related to #119

[2015-10-09 16:54] jchodera commented on #122
Thanks for the update!

The worst part of this error behavior is that the binstar package is deleted *before* the failure, which causes removal of a potentially useful package from binstar.  This breaks lots of our travis builds that utilize these development packages.

[2015-10-09 16:55] stephenakearns commented on #114
related to #119

[2015-10-09 17:21] hainm commented on #122
@stephenakearns it happens with local build too.

[code]

I tried to upload again and it works.
[code]

[2015-10-09 17:22] hainm commented on #122
can you point me to the tutorial/doc about how to follow your comment here?

[2015-10-13 19:03] PeterDSteinberg opened #126 "Update documentation for anaconda build"
Update docs to reflect this PR when it is finalized:
https://github.com/Anaconda-Server/anaconda-build/pull/99

[2015-10-14 18:03] srossross commented on #123
Hello @mbalasso thanks for submitting this issue. We have prioritized this issue and I think this is a great idea. Please check back here, we hope to release new and improved channel support before the end of the year.

[2015-10-14 20:08] srossross commented on #117
@malev can you move this to the correct part of the pipeline?

[2015-10-15 21:27] stephenakearns commented on #117
I moved it back to the backlog - related to #778 I believe - also assigned to @malev

[2015-10-20 17:39] kerrywatson1 opened #128 "Add new welcome page to Anaconda Cloud docs"
New to Anaconda Cloud?

[2015-10-20 17:41] kerrywatson1 opened #129 "Add new section What is Anaconda Cloud?"
Concise statement for documentation/work with Michele Chambers.

[2015-10-20 17:41] kerrywatson1 opened #130 "Contributing to the docs - move to end"
Move this section to end of Anaconda Cloud docs.

[2015-10-20 17:47] kerrywatson1 opened #131 "Add new Getting Started section for new users"
How to be a new user, i.e.

Open a new account
Create a public profile
Search for packages
What's a channel?
Upload a package
Share channel with others
Upgrade account to personal private
Upgrade account to organization plan

[2015-10-20 17:51] kerrywatson1 opened #132 "Update docs.anaconda.org/#Packages"
Update section on Packages with help of @srossross

[2015-10-20 17:53] kerrywatson1 opened #133 "Update Using Add-Ons section of docs IOPro Accelerate MKL Library"
Update Using Add-Ons section
IOPro
Accelerate
MKL Library

with help of @malev

[2015-10-20 17:57] kerrywatson1 opened #134 "Update docs.anaconda.org/#UseCases"
You want to install conda packages
You want to install PyPI packages
More?

This page: http://docs.anaconda.org/#UseCases

@stephenakearns please reassign if needed.

[2015-10-20 18:02] kerrywatson1 opened #135 "Update private packages and tokens"
http://docs.anaconda.org/#PrivatePackages and
http://docs.anaconda.org/examples.html#UsingAnacondaOrgTokens

with help of @srossross

[2015-10-20 18:04] kerrywatson1 opened #136 "Update organizations section"
docs.anaconda.org/examples.html#Organizations
with help of @rafaelhbarros

EDIT: Be sure to see this page! https://anaconda.org/new/organization

[2015-10-20 18:06] kerrywatson1 opened #137 "Draft new section Transfer packages from one channel to another"
Currently unclear where to link this, but it needs to be drafted.

From Flowdock:
[MichaelS: It’s in the package settings - click on the package, then click on the gears icon on the far right, click “admin” in the left menu, you’ll see a transfer button… a little buried, but it seems to work OK]

Seems like a user setting, so assigning to @FirecatSue

Helper is @mistakevin

[2015-10-20 18:09] kerrywatson1 opened #138 "Update Development Cycle section on Anaconda Cloud docs"
Update http://docs.anaconda.org/examples.html#DevelopmentCycle section on using channels for test, dev and production

Assigned to @ijstokes per @stephenakearns

[2015-10-20 18:10] kerrywatson1 opened #139 "Update Builds section in Anaconda Cloud docs"
Update http://docs.anaconda.org/examples.html#BuildsInAnacondaOrg

Assigned to @electronwill with help of @PeterDSteinberg

[2015-10-20 18:19] kerrywatson1 opened #140 "Update Submit a build from github section of Anaconda Cloud docs"
Update http://docs.anaconda.org/examples.html#SubmitABuildFromGithub

Includes these sections:

Create a git repo

Submit the build

Save and Trigger Your Builds

Continuous Integration: run a build on git push

With help of @mmarchetti

NOTE: This section will need to be substantially re-written, please let me know if I can help.

[2015-10-20 18:21] kerrywatson1 opened #141 "Add new Get Involved section to Anaconda Cloud docs"
Get involved
    Contribute to the docs
    Join [the Anaconda community]
    Report a problem
    Feedback

This will be the last section in the docs.

With dev @mistakevin

[2015-10-20 19:18] kerrywatson1 opened #142 "Update Anaconda Cloud FAQ"
Update http://docs.anaconda.org/faq.html

Start each section with "What is xyz?" and keep new user perspective.

@electronwill can do Using the anaconda-client section and also give general help.

[2015-10-20 20:26] kerrywatson1 opened #143 "Clean up index.html on Anaconda Cloud"
Lots of broken links, etc.

Just do general clean-up.

[2015-10-22 19:24] jakirkham opened #144 "BUG: Internal Server Error"
![screen shot 2015-10-22 at 15 22 36](https://cloud.githubusercontent.com/assets/3019665/10675938/dac9ce70-78d0-11e5-8e83-05b8675bdb24.png)

[2015-10-22 19:35] jakirkham commented on #144
This not only affecting visiting the webpage, but it is affecting the downloading of packages from any channel.

[2015-10-22 20:08] stephenakearns commented on #144
Thanks @jakirkham  -  we're aware of the issue. We are troubleshooting some underlying infrastructure issues that are affecting more than just Anaconda.org. @JeremyEnns will update when things are back to normal.

[2015-10-22 20:24] jakirkham commented on #144
Thanks for the update, @stephenakearns.

[2015-10-23 01:15] stephenakearns commented on #144
Hi @jakirkham - a little delayed, but earlier this afternoon (CDT timezone) Anaconda Cloud was back online. The root cause was identified and steps are being taken to prevent it from happening again in the future.  If you are still having issues, please let us know.

[2015-10-23 01:15] #144 closed

[2015-10-23 06:06] jakirkham commented on #144
Thanks for the update. Seems to be working.

[2015-10-26 14:24] drf5n commented on #81
I'm not sure it fixes my problem:

    531 [drf@v21837 ~]$ anaconda login
    Using binstar api site https://api.anaconda.org
    Username: drf5n
    drf5n's Password:
    [warning] It appears you are already logged in from host v21837
    [warning] Logging in again will remove the previous token.  (This could cause troubles with virtual machines with the same hostname)
    [warning] Otherwise you

[2015-10-26 14:37] drf5n opened #145 "Can't do "Getting started" from http://docs.anaconda.org/"
The page at http://docs.anaconda.org/#WhatIsAnacondaOrg  suggests testing whether you can login to anaconda with

[code]

but doesn't suggest what to do if it fails.

I had authorization failures under Binstar in as described in Issue #81, and followed the suggestions there, but they have not resolved the issue.

[code]

I would assume that 'anaconda whoam` would return drf5n and I wouldn't need r

[2015-10-26 15:42] remram44 commented on #118
Copying still gives a 500 error. Is anyone working on Anaconda at all?

[2015-10-27 19:14] stephenakearns commented on #138
Hi @kerrywatson1 can you refresh my memory about what this is about - not remembering right now.

[2015-10-27 19:14] srossross commented on #137
This will be fixed with #119

[2015-10-27 19:14] #137 closed

[2015-10-28 21:30] kerrywatson1 commented on #133
Background for IOPro--

Hey Marcos, where can people get IOPro? Is it only on Anaconda.org private accounts or?
Marcos
if you have an account in anacona.org with your continuum email yuo should be able to download the license. You should be able to download the licenses here https://anaconda.org/settings/add-ons
Kerry
right, but I'm asking for customers -- how do customers get it? If I log on with

[2015-10-28 21:33] kerrywatson1 opened #151 "New docs structure"
We don't want to change the page structure, but the architecture of headings has got to be fixed. Please help.

[2015-10-28 23:27] electronwill commented on #143
done in https://github.com/Anaconda-Server/docs.anaconda.org/pull/152 , although the index page will probably still want further and more specific fixes in the future

[2015-10-28 23:27] #143 closed

[2015-10-28 23:46] electronwill commented on #130
fixed in https://github.com/Anaconda-Server/docs.anaconda.org/pull/153

[2015-10-28 23:46] #130 closed

[2015-10-28 23:50] electronwill opened #154 "add GUI package version removal to CLI PVR"
https://github.com/Anaconda-Server/anaconda-server/issues/781

[2015-10-29 00:38] electronwill commented on #154
done in https://github.com/Anaconda-Server/docs.anaconda.org/pull/155

[2015-10-29 00:38] #154 closed

[2015-10-30 01:13] jchodera commented on #122
Just an update that we're still seeing this issue sporadically.

Here's the traceback using the latest `anaconda-client`:
[code]

[2015-10-30 15:06] kerrywatson1 commented on #135
Duplicate of #132. Closed.

[2015-10-30 15:06] #135 closed

[2015-10-30 15:10] kerrywatson1 opened #159 "New "Get Started/Quick Start" for new users"
Possibly also in PDF format/cheat sheet for people who have never seen Anaconda Cloud before. How to sign up for an account, how to find and download packages, how to manage your account. With select screenshots if possible.

[2015-10-30 15:42] kerrywatson1 commented on #141
Duplicate of #160.

[2015-10-30 15:42] #141 closed

[2015-10-30 15:43] kerrywatson1 commented on #159
Duplicate of #131 and #136, closing them and leaving this one open.

From #131:
How to be a new user, i.e.

Open a new account
Create a public profile
Search for packages
What's a channel?
Upload a package
Share channel with others
Upgrade account to personal private
Upgrade account to organization plan

[2015-10-30 15:44] kerrywatson1 commented on #136
Duplicate of #159, closing this one.

[2015-10-30 15:44] #136 closed

[2015-10-30 15:44] kerrywatson1 commented on #159
Also from #136: Be sure to see this page! https://anaconda.org/new/organization

and @rafaelhbarros is your SME on this.

[2015-10-30 15:45] kerrywatson1 commented on #131
Duplicate of #159, moved this info to that issue and closing this one.

[2015-10-30 15:45] #131 closed

[2015-10-30 15:54] rafaelhbarros commented on #159
is this from a branch?

[2015-10-30 17:04] kerrywatson1 commented on #159
Not yet.

On Friday, October 30, 2015, Rafael Hoffmann de Barros <
notifications@github.com> wrote:

--
_______________________________

Kerry Watson
Documentation and web project manager

[image: Continuum Analytics] <http://continuum.io>

[2015-10-30 18:34] kerrywatson1 commented on #128
Duplicate of #161.

[2015-10-30 18:34] #128 closed

[2015-10-30 19:08] kerrywatson1 commented on #129
@stephenakearns I cloned in a new What is Anaconda Cloud #161 so I am marking this closed.

[2015-10-30 19:08] #129 closed

[2015-10-30 20:04] drf5n commented on #145
I tried enabling verbose and noticed files in `/Users/drf/Library/Application Support/binstar/`:

    664 [drf@v21837 anaconda]$ anaconda -v whoami
    [debug] Found login token: /Users/drf/Library/Application Support/binstar/https%3A%2F%2Fapi.anaconda.org.token
    [debug] (u'This domain requires token authentication', 401)
    Anonymous User

I tried removing all the tokens through the web inter

[2015-10-30 22:50] stephenakearns commented on #117
This is being resolved by Anaconda-Server/Anaconda-Server#778

[2015-10-30 22:53] stephenakearns commented on #126
@PeterDSteinberg - this may have been addressed - can you validate an close if appropriate? see #127

[2015-11-03 20:54] #132 closed

[2015-11-03 20:56] kerrywatson1 commented on #142
@stephenakearns for our meeting.

[2015-11-05 18:07] jakirkham commented on #144
Something worth considering, it would be nice to have a status page ( https://status.io ) like Travis CI or others, which we could see performance and subscribe to updates.

[2015-11-05 18:52] srossross commented on #144
Thanks for pointing that out. That is definitely worth looking into.

[2015-11-05 20:10] drf5n commented on #145
I've removed anaconda by moving its directory out of the way, and then re-installed it, and I still get errors:

    $ source ~/anaconda/bin/activate python3
    discarding /Users/drf/anaconda/bin from PATH
    prepending /Users/drf/anaconda/envs/python3/bin to PATH
    (python3)$ conda install -c r r-irkernel
    Fetching package metadata: ....Warning: you may need to login to anaconda.org again

[2015-11-07 15:35] WouterVH opened #182 "anaconda-command broken: AttributeError: 'NoneType' object has no attribute 'endswith'"
Just giving this tutorial a small testdrive
http://docs.anaconda.org/#BuildingPackagesWithAnacondaCloud

[code]

my root-env:
[code]

but anaconda is broken:
[code]

[2015-11-07 19:17] srossross commented on #182
Hi @WouterVH, It looks like this bug is coming from here: https://github.com/Anaconda-Server/anaconda-build/blob/develop/binstar_build_client/utils/__init__.py#L7

We will work on finding a permanent solution, but for now:

 1. Can you make sure the `conda` command is in your `PATH` variable?
 2. OR uninstall anaconda-build

[2015-11-08 14:48] WouterVH commented on #182
IMHO  activating a virtualenv using "source bin/activate" should be a usability-enhancement, but code should not break if the env is not activated this way.

In this situation, if we don't find conda in the current $PATH,  it should look in the directory where the anaconda-executable is located.
Actually I would introspect this directory first and then search in the $PATH

Snippet below works for

[2015-11-08 14:55] WouterVH commented on #182
when using symlinks, you can even first try without resolving the symlink.

[2015-11-09 19:02] srossross commented on #182
Thanks

[2015-11-09 23:52] WouterVH commented on #182
my snippet above contains errors (double dirname).

improved:
[code]

[2015-11-10 02:00] srossross commented on #182
Thanks @WouterVH a fix is in the pipeline.

[2015-11-10 17:30] kerrywatson1 opened #187 "Updates to About and Pricing pages"
Updates to marketing pages text per @stephenakearns and Michele Chambers:

https://docs.google.com/presentation/d/1hXLZKhiPpSKMPY0VRBn5XHq5xA3DdjjUBnWRmkeyi2U/edit#slide=id.p7

[2015-11-10 18:01] kerrywatson1 opened #188 "Update to newsfeed and welcome email"
Matt Thornell said:

Please change newsfeed and welcome email
FROM "Welcome to anaconda.org"
TO "Welcome to Anaconda Cloud"

per Michele Chambers.

@stephenakearns

[2015-11-10 20:13] kerrywatson1 opened #189 "Stop top menu from expanding and contracting"
Need by: Friday 11/20.

Michele says: top menu expands vertically and clobbers the content at the top of the page (see screen shots).

Then when scrolling down the page it contracts left-ward to a hamburger-style menu.

--> Make the "Hamburger" menu go away when scrolling down the page.

![ac-top2](https://cloud.githubusercontent.com/assets/71552/11074383/f528d7dc-87b4-11e5-94d4-58b2555b4923.png)

[2015-11-11 08:27] doob-project commented on #116
Hello, is there any news on this issues?
At the moment the only workaround is to update one package at once, which is very time expensive and not matching our production needs.

[2015-11-12 03:19] srossross commented on #116
I am not sure how to reproduce this error in our environments.

After reading up a bit more on the issue, it looks like it may be a issue with the python `requests` library when s3 sends a 104 return code.

Boto seems to have created a HttpRequest subclass to fix the issue boto/botocore#303 . We are not using the boto library directly, so I am not sure how to take advantage of that with the type o

[2015-11-12 05:27] srossross commented on #145
@drf5n we are prioritizing this now. thanks for reporting.

[2015-11-12 16:54] FirecatSue opened #193 "Create demo environment using Docs.Anaconda.org"
@MaxGamurar Create a demo environment (on your server, or the firecatclients.com server you have access to) to show a proposed solution integrating:

* Github
* Markdown
* Prose.io
* Jekyll

And/or other similar tools.

[2015-11-12 23:30] srossross commented on #116
I found this on the s3 site

@doob-project can you send me the package you are trying to upload?

[2015-11-13 02:46] stephenakearns commented on #134
Hi @kerrywatson1 and @FirecatSue

Other high-level use cases that can be added:

- Publish/Share a notebook using integrated nbviewer
- Publish/Share a conda environment
- Build and distribute cross-platform conda packages (Organizations)
- Set up a 4 node cluster using Anaconda cluster as a sandbox for your hadoop development work
- Download free Optimization library (MKL)
- Academic Users: Downl

[2015-11-13 02:46] #134 closed

[2015-11-13 19:38] rafaelhbarros commented on #117
The issue Anaconda-Server/anaconda-server#778 was closed, should this be moved to closed too?

[2015-11-13 20:45] FirecatSue opened #195 "Update docs navigation, look & feel"
Update the Anaconda Cloud documentation navigation and look and feel.

1. Address display hiccups and artifacts to extent possible, or LMK and I will add separate issues to be addressed later (see attached markups).
2. Add a Logo for Anaconda Cloud / Documentation (ensure it still links to docs.anaconda.org) (Victoria has them, I attached one; let's make sure they're approved)
3. Update CSS to use

[2015-11-13 21:06] electronwill commented on #195
Looks very good!

Anaconda Cloud (anaconda.org) and docs.anaconda.org should both harmonize fonts colors and CSS with continuum.io's front page.

I'll reply when the content reorganization I'm working on goes through and we're ready for Kevin to work on the navigation bars.

[2015-11-13 21:07] FirecatSue opened #196 "Anaconda Cloud Documentation "logo""
@VictoriaODell Please make a variant of the Anaconda Cloud logo that has the word "Documentation" underneath it. See the attached crude markup to show what I'm thinking might work.
![navigation - cloud docs](https://cloud.githubusercontent.com/assets/716256/11157638/30a25756-8a18-11e5-9bdd-19a60130b197.png)

Send it to @mistakevin or me and we can attach it to this issue.

[2015-11-13 23:43] #117 closed

[2015-11-14 12:59] FirecatSue opened #197 "Add Anaconda Cloud Google Analytics tag, activate Google Webmaster Tools"
Please add the Google Analytics tag to the docs.anaconda.org site.

I've set up a new Google Tag Manager container for the site. Place this code just after the opening <Body> tag.

Google Webmaster Tools: Upload the attached html file to docs.anaconda.org and notify me so I can verify that site.

[Google-Tag-Manager-Anaconda-Cloud-snippet.txt](https://github.com/Anaconda-Server/docs.anaconda.org/f

[2015-11-16 14:21] Korijn commented on #119
Is there any progress on this at all?

[2015-11-16 14:42] ijstokes opened #198 "Side-menu points to wrong content for Anaconda Build System"
What's the scoop with build documentation?  I went to anaconda.org then to "Help" then to "Building packages with Anaconda Cloud" which took me here:

http://docs.anaconda.org/#BuildingPackagesWithAnacondaCloud

This does not tell me how to build packages with Anaconda Cloud at all.  It just tells me how to upload locally built packages.  What's the scoop?
That side-menu link should instead take m

[2015-11-16 16:06] FirecatSue opened #199 "Add Google Tag Manager"
Add the attached code snippet as described
[Cloud-Docs-GTM-Container.txt](https://github.com/Anaconda-Server/docs.anaconda.org/files/35685/Cloud-Docs-GTM-Container.txt)
 here:

https://support.google.com/tagmanager/answer/6103696#CreatingAnAccount

Notify me when it's in place so I can complete setup and test.

[2015-11-16 19:09] mistakevin commented on #197
Closing, duplicate of https://github.com/Anaconda-Server/anaconda-server/issues/1011

[2015-11-16 19:09] #197 closed

[2015-11-16 19:23] #199 closed

[2015-11-16 21:12] electronwill commented on #198
You're right, that text does need to change. A more up to date draft of our overhaul of docs.anaconda.org is available at docs.anaconda.org/draft. As you can see there, there are various "fixme" sections and some blank headers in the "Managing Your Account" page, but we have changed the Quickstart section "Building packages with Anaconda Cloud" to "Build and upload packages" as well as moving it o

[2015-11-18 15:48] srossross commented on #145
@drf5n I have created a PR that will provide better logging feedback and should fix the issue you are having.

Before we release merge this, can you manually remove your tokenfile?  and try `login` then `whoami` again?

eg:
[code]

[2015-11-18 16:17] drf5n commented on #145
The token file is not empty:

    (root)$ cat /Users/drf/Library/Application\ Support/binstar/https%3A%2F%2Fapi.anaconda.org.token
    dr-992e266e-92c6-4812-b981-d998bea87120(root)$
    (root)$
    (root)$ rm '/Users/drf/Library/Application Support/binstar/https%3A%2F%2Fapi.anaconda.org.token'
    (root)$ anaconda  --verbose whoami
    [DEBUG] (u'This domain requires token authentication', 401)

[2015-11-18 16:37] drf5n commented on #145
I added a couple more debug lines around the token reading and got:

    (root)$ anaconda --verbose whoami
    [DEBUG] Attemtpting to read login token: /Users/drf/Library/Application Support/binstar/https%3A%2F%2Fapi.anaconda.org.token
    [DEBUG] (u'This domain requires token authentication', 401)
    Anonymous User
    (root)$ anaconda login
    Using anaconda-server api site https://api.anacond

[2015-11-18 20:07] drf5n commented on #145
Without the extras and bypassing the file-reading with a --token command line argument:

    (root)$ anaconda --verbose  --token=`cat /Users/drf/Library/Application\ Support/binstar/https%3A%2F%2Fapi.anaconda.org.token` whoami
    [debug] Using token from command line args
    [debug] (u'This domain requires token authentication', 401)
    Anonymous User
    (root)$
    (root)$ . activate python3

[2015-11-19 23:25] FirecatSue opened #204 "Remove Metrics option that's just "under construction""
https://anaconda.org/Milagro/pill/metrics

Currently this option only displays the following:

The Package Metrics page is still under construction. When completed, it will give you useful information and an overview of the package

Remove the option until we have the functionality in place. Currently it only serves to annoy :8ball:

[2015-11-20 09:05] doob-project commented on #116
Hello srossross, thanks for your reply.
We are having this issue while downloading package from our private repository at anaconda server, from the commandline and from the browser as well.

The requested URL looks like this:
https://binstar-cio-packages-prod.s3.amazonaws.com/<oid>/<oid>?Signature=<value>&Expires=<expires>&AWSAccessKeyId=<aws_key_id>&response-content-disposition=attachment%3B%20fi

[2015-11-20 15:09] srossross commented on #116
@doob-project can you explain this in a bit more detail? What is your workaround?

[2015-11-20 17:03] srossross commented on #187
This seems like it has been resolved.

[2015-11-20 17:03] #187 closed

[2015-11-20 17:18] #196 closed

[2015-11-20 17:44] mistakevin opened #205 "Foundation-ize new user registration page"

[2015-11-20 17:45] #205 closed

[2015-11-20 17:45] mistakevin commented on #205
wrong repo

[2015-11-20 19:39] #189 closed

[2015-11-20 19:44] #195 closed

[2015-11-20 19:52] electronwill opened #206 "footer & top right link"
1) top right link says Go to anaconda.org, change to Anaconda Cloud
2) footer links to this repo for issues, change to anaconda-server/support
3) footer says anaconda.org, change to Anaconda Cloud
4) footer Powered by Anaconda links to store.continuum.io, change to https://www.continuum.io/why-anaconda

@mistakevin @FirecatSue what else?

[2015-11-20 20:10] FirecatSue commented on #206
Looks good, @electronwill

[2015-11-20 20:17] mistakevin opened #207 "Desktop Jump Links Fall behind Top Nav"
Ex. when you click on "Quickstart", the "Quickstart" header is hidden behind the top nav

<img width="1510" alt="screen shot 2015-11-20 at 2 15 58 pm" src="https://cloud.githubusercontent.com/assets/4411115/11310763/49e1f608-8f91-11e5-8381-bd80612fd187.png">

[2015-11-23 15:43] doob-project commented on #116
@srossross basically our web app depends on three different packages wich are built nightly by our CI infrastructure.
When we have to deploy the new packages in our servers environment we use the command:

`[user@server ~]$ conda update package1 package2 package3`

The .condarc for that enviroment looks like the following:
`channels:`
`    - https://conda.anaconda.org/t/<token>/prometeia/channel/d

[2015-11-23 18:51] malev opened #209 "Big images"
![screen shot 2015-11-23 at 12 50 59 pm](https://cloud.githubusercontent.com/assets/55977/11346162/e99bff12-91e0-11e5-8082-f3deb1ac95a9.png)

[2015-11-23 20:46] #209 closed

[2015-11-25 16:57] #182 closed

[2015-11-25 18:19] #133 closed

[2015-11-25 18:19] #139 closed

[2015-11-25 18:20] #140 closed

[2015-11-25 18:20] #198 closed

[2015-11-25 19:26] srossross commented on #116
@doob-project, I don't still am at a loss as to how to reproduce this. I think a fix will probably be in the new year.

In the mean time to speed up the process:

 1. Are all three packages private? Do you have trouble with those three, or have you had trouble with other packages as well?
 1. If so, can you check if you get this error with a public package?
 1. When you get this error in the brows

[2015-11-25 19:50] electronwill commented on #206
Fixed by https://github.com/Anaconda-Server/docs.anaconda.org/pull/213 .

[2015-11-25 19:50] #206 closed

[2015-11-27 16:33] stephenakearns commented on #142
Hi @electronwill can you make a small FAQ revision:

Q. What kind of packages does Anaconda Cloud support?

A. Anaconda Cloud supports any type of package. Today, it's primarily used for conda and PyPI packages, as well as notebooks and environments.

after that, we can close this item.

[2015-11-27 16:59] stephenakearns commented on #207
@mistakevin - would this be something that @johneo could take a look at when he has free time?

[2015-11-27 17:30] FirecatSue commented on #207
We could give it to @maxgamurar to do as well (not sure if he has all the permissions) - this is his forte.

[2015-11-28 04:24] mistakevin commented on #207
Either @johneo or @maxgamurar could take it.

[2015-11-30 11:21] doob-project commented on #116
@srossross to answer to your questions:

1. Yes, all the three packages are private
2. We aren't able to reproduce this error with a public package.
3. I'm sending you an email with the chrome log

Thanks for your help.

[2015-11-30 23:35] #142 closed

[2015-12-01 18:40] goanpeca opened #216 "Migrate channels to labels"
# Description

Change every instance/reference to the word **channel**, to the word **label** in the documentation.

[2015-12-02 22:21] ijstokes opened #217 "Responsive webdesign layout issues"
See this 30 second screen cast.  This was using Chrome on OSX.

[2015-12-02 22:24] ijstokes opened #218 "`anaconda copy` documentation is not present"
http://docs.anaconda.org/cli.html#Copy doesn't take you anywhere.

[2015-12-02 22:53] srossross commented on #119
Hi, @Korijn sorry for the delayed response. Yes, we hope to have copy back in the new year.

[2015-12-02 22:54] ijstokes commented on #119
@Korijn we are actively working on an improved mechanism for package copying.  In the mean time, unfortunately, the functionality is not supported: we have disabled it server side, but left it in the client where (again, unfortunately) the error messages will not be very obvious as to why it isn't working.  We'll close this issue when everything is fixed.

[2015-12-02 23:53] FirecatSue commented on #218
Verified; there is no corresponding section for the Copy command argument's anchor link.

[2015-12-03 14:38] mistakevin opened #219 "Update footer to match anaconda.org"
<img width="1221" alt="screen shot 2015-12-03 at 8 38 33 am" src="https://cloud.githubusercontent.com/assets/4411115/11563382/43a2fba4-9999-11e5-9fe7-d735ae6dbcae.png">

[2015-12-04 19:45] srossross commented on #188
@kerrywatson1 this is unassigned and in the validate stage. Does this belong here?

[2015-12-04 19:49] kerrywatson1 commented on #188
Yow, yes, it needs to be done. I've assigned it to @mistakevin.

[2015-12-04 19:56] srossross commented on #188
@kerrywatson1 It sounds like this issue still needs to be started. In that case it should go into the "New Issues" pipeline

Here is our documentation on how we are using the zenhub pipelines: https://docs.google.com/document/d/1-yl3MSjwrnAFg9oAy-7xuu28mo085xLojI61aaQSgCg/edit

[2015-12-04 20:19] kerrywatson1 commented on #188
Sean, I have no idea why it's in the validate pipeline. Nice doc btw, we
are enthusiastic users of Zenhub.

If you need to add this to the next sprint, please do. If you need me to
drag it from the validate column I can do that, too. Not sure what you are
looking for from me, I was just the messenger. Michele requested this
@stephenakearns

Kerry

_______________________________

Kerry Watson
Docu

[2015-12-04 20:31] stephenakearns commented on #218
quick note - moving this to the "channels epic"  - plan is to re-enable copy command in the next few weeks.

[2015-12-04 20:41] stephenakearns commented on #188
@dsludwig - I think you worked on this with me while in Austin - can you attach the PR associated with this. @kerrywatson1 , monday, this fix will get released into prod - could you have someone on your team retest at that point to confirm the fix?

[2015-12-04 20:43] kerrywatson1 commented on #188
@electronwill will test it on Monday. Thanks team!

Kerry

_______________________________

Kerry Watson
Documentation and web project manager

[image: Continuum Analytics]
<http://t.sidekickopen29.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJN7t5XZsRzsQHMRbPXMfDgQnW2BFNn256dBBnf974Gsn02?t=http%3A%2F%2Fcontinuum.io%2F&si=5890486390751232&pi=2d54231e-bd77-4fd2-f01a-44d8eb255b42>

On Fri, Dec 4, 2015

[2015-12-04 20:51] dsludwig commented on #188
The email sender name and contents were fixed in: Anaconda-Server/anaconda-server#1049

[2015-12-04 23:02] #126 closed

[2015-12-04 23:03] srossross commented on #126
docs are up to date.

[2015-12-04 23:33] srossross commented on #145
@drf5n we have released a few fixes today can you ensure that you are running with the latest version? Thanks,

Also the error as described above, this looks like a python2 vs python3 error.

[2015-12-07 23:49] electronwill commented on #188
Currently it still says anaconda.org.

Delivered-To: wwarner+4@continuum.io
From: "Anaconda.org" <noreply@anaconda.org>
To: wwarner+4@continuum.io
Subject: Welcome, wwarner4 to Anaconda.org
Date: Mon, 7 Dec 2015 23:46:53 +0000

Thanks for signing up for anaconda.org!

Please click the link below to confirm activation of your anaconda.org account:

https://anaconda.org/account/confirm_email?code=x3

[2015-12-08 21:29] stephenakearns commented on #188
Hi @dsludwig is there any chance that 1049 above hasn't been deployed to prod yet?

[2015-12-08 22:13] dsludwig commented on #188
Correct, this change will be released with 2.11 (currently in Beta)

On Tue, Dec 8, 2015 at 1:29 PM, Stephen Kearns <notifications@github.com>
wrote:

[2015-12-09 13:38] ijstokes opened #220 "Remove references to anaconda.yml from docs"
I thought I had reported this a few months ago, but I can't find a reference to it.  The documentation describes the option of an `anaconda.yml` file to define builds.  This is not supported in the current code base nor in any PR that I'm aware of (i.e. it isn't a matter of the docs leading the feature that is "soon to be released).

http://docs.anaconda.org/build.html

This is important because a

[2015-12-09 16:20] ContinuumJira commented on #220
Hi Ian,
I'm a bit confused - i think the title of this should be "deprecate
filename "binstar.yml" in favour of "anaconda.yml"" - am I reading it rigjt?

On Wed, Dec 9, 2015 at 7:38 AM, Ian Stokes-Rees <notifications@github.com>
wrote:

--
*Stephen Kearns*
*Product Manager*

*w: (512) 776-1096*
*m: (737) 444-0474*
*t: @stephenakearns*
*skype: stephen.kearns*

[2015-12-09 16:22] goanpeca commented on #220
@stephenakearns  (BTW you appear as the Jira user)

---

I made the documentation changes to the build page and I included the reference to `anaconda.yml` cause I thought it was working like that at that point.

I submitted PR #221 to fix this.

Now, we need to open a separate issue in anaconda server (or anaconda build?) that deals with,  `Deprecate filename "binstar.yml" in favour of "anaconda.y

[2015-12-10 21:40] dsludwig commented on #188
This is released now, I have verified by creating a new user.

[code]

[2015-12-10 21:40] #188 closed

[2015-12-10 23:12] #220 closed

[2015-12-16 16:58] stephenakearns commented on #47
Hi @electronwill - I see you closed this earlier in the fall - I'm tracking it down - do you happen to recall why it was closed? (I see we transferred the issue into another repo to track it there, and the other is still open -  the comments indicate the issue persists.) Thoughts?

[2015-12-16 17:10] electronwill commented on #47
The procedure I was following, which I'm now worried may not have been the right one, was to move all issues not relating to docs over to the other repo, link them to the issue here with the explanation, and close the issue here. Closing the issue here wasn't meant to indicate that the problem had been solved, just that it would be tracked in the other repo instead of the docs repo.

[2015-12-16 20:42] stephenakearns commented on #122
@srossross you were mentioning that this issue may have been resolved this week - is that right? if so, can you move it to "ready for review"?

[2015-12-16 22:36] srossross commented on #122
We are going to release the new version in the new year. after the team gets back from vacation.

[2015-12-18 21:49] stephenakearns commented on #123
include in milestone/epic related to conda performance

[2015-12-23 15:59] stephenakearns commented on #217
spoke with @mistakevin - easy fix if we can condense header menu with shorter names or grouping menu options

[2015-12-23 16:48] stephenakearns commented on #47
Hi @electronwill - I think that's the process I had originally proposed, but realize that it's not respecting the open-source nature of this repo so going forward, we'll leave them open until deployed in production and resolved.

[2015-12-23 16:53] stephenakearns commented on #47
@Casolt we've made a number of updates to the client. This issue may have been resolved by those issues. Are you able to update your client to the latest version (v1.2.1) and re-test. If you encounter an issue, please let us know and we'll continue to investigate further. To update:

`conda update anaconda-client`

[2016-01-07 22:35] PeterDSteinberg opened #231 "Better discussion of install_channels"
Whether users intend to add install channels to a build using something like:

[code]
or
[code]
, the docs need to point out that if a private channel is being added, then the full path to that channel must be specified, inclusive of the $TOKEN part used in authentication.

[2016-01-07 23:02] dsludwig commented on #231
We could also accomplish this by allowing `anaconda-client` to read the API token from the environment variable `BINSTAR_API_TOKEN` (this is already set in the build script). This would allow `conda` to detect and use the API token when installing packages.

[2016-01-08 16:26] connie commented on #47
I'm getting the same error, using both Windows 7 Enterprise 32-bit and 64-bit.  Strangely, it hasn't occurred on my other Windows machines (nor on Linux), but these are new VM's.

    anaconda upload wget-1.16.3-0.tar.bz2 -u RMG
    detecting package type ...
    conda
    extracting package attributes for upload ...
    done
    Using Anaconda Cloud api site https://api.anaconda.org
    [ERROR]

[2016-01-08 17:55] postelrich commented on #231
I would think that a build should have access to other packages owned by the user/organization.

[2016-01-08 17:58] PeterDSteinberg commented on #231
I think @dsludwig 's [PR](https://github.com/Anaconda-Server/anaconda-client/pull/269) addresses this issue.  I'll update the docs to mention tokens are interpolated to channels after that PR is merged.

[2016-01-08 19:01] connie commented on #47
Update: The upload function works fine using command prompt, just not git bash.  Another problem with git bash is that typing `python` in the terminal also freezes and doesn't pop up the usual Anaconda Python in the command line.

[2016-01-12 23:21] dsludwig opened #233 "Use a single user for demonstrating functionality"
Currently the user examples point to many different users: `sean`, `travis`, `conda`. They should all use a single user: `jsmith` or `demo` or something similar.

[2016-01-12 23:24] electronwill commented on #233
"demo" could be a person, a group of people, a notebook, a system, or a machine, and "jsmith" is a little more suggestive of an individual person, but any of those options should work well.

[2016-01-15 16:27] PeterDSteinberg opened #236 "Provide complete listing of every key that can be in .binstar.yml"
The question often comes up: Can I put this key in my ```.binstar.yml``` or ```meta.yaml```.  It would help to have in the build docs a place that lists all the keys that could exist with a short phrase and hyperlink for each one.

[2016-01-15 17:10] damianavila commented on #236
:+1:

[2016-01-19 01:34] dsludwig opened #238 "Zero out downloads when files are copied"

[2016-01-19 01:35] dsludwig commented on #238
Oops. Wrong repository.

[2016-01-19 01:35] #238 closed

[2016-01-20 17:44] bollwyvl opened #239 "missing test_results.summary and .testsuite examples"
When viewing a specific build, if a user switches the tab from _Log_ to _Summary_ or _Unit Tests_, and have not previously configured those keys (in `.binstar.yml?` `meta.yml`?), they are shown links to anchors that don't exist:

http://docs.anaconda.org/examples.html#BuildSummary
http://docs.anaconda.org/examples.html#BuildTestSuite

The mentioned keys, `test_results` don't appear anywhere in thi

[2016-01-22 15:12] jchodera commented on #122
We're not getting some new variants of this error when trying to upload from `travis-ci`:
[code]
Any progress on even identifying what might be wrong or a potential workaround?

[2016-01-22 16:23] jchodera commented on #122
Deleting the package from anaconda cloud seemed to fix this, at least for now.

[2016-01-22 19:15] dsludwig commented on #119
We have re-enabled the `anaconda copy` command in the latest release (2.14.1, released yesterday). Thank you for your patience!

[2016-01-22 19:15] #119 closed

[2016-01-22 19:17] dsludwig commented on #114
This has been fixed in the latest release - the uploader of the file will not change when copied into another package. Thank you for reporting the issue!

[2016-01-22 19:17] #114 closed

[2016-01-22 19:48] dsludwig commented on #218
Added in https://github.com/Anaconda-Server/docs.anaconda.org/commit/5774ec0a4655de4bca5a7d28ee53f900876744a4

[2016-01-22 19:48] #218 closed

[2016-01-22 19:52] dsludwig commented on #231
We now explicitly call out in the documentation that if private packages are required, use a token URL.

[2016-01-22 19:52] #231 closed

[2016-01-22 21:37] dsludwig commented on #118
@remram44 we have enabled `anaconda copy` again in our latest release (on January 20, version 2.14.1). The inline documentation on the linked page has been updated as well, but looking at it now, I see there is still a mistake - I will make sure this is fixed in the next release.

[2016-01-22 21:37] #118 closed

[2016-01-22 21:37] #216 closed

[2016-01-26 02:42] damianavila commented on #122
@stephenakearns Seeing this trying to upload packages manually on py27...

[2016-01-26 14:33] georgedimitriadis commented on #145
Hi guys,

I just installed binstar version 1.1.2 (system is windows 10 with conda python 3.4.4)

I also get the following error when I try to login without providing a username and password as parameters to the login command

Using anaconda-server api site https://api.anaconda.org
[ERROR]
Traceback (most recent call last):
  File "E:\Software\Develop\Languages\Pythons\Miniconda3\Scripts\binstar-sc

[2016-01-26 15:08] stephenakearns commented on #122
@srossross - can we prioritize this issue this week? (revisit to confirm it's still occuring or resolved? It seems like it may still be reproducible according to @damianavila )

[2016-01-26 23:17] srossross commented on #145
@georgedimitriadis can you make sure are using the `anconda-server` package. The binstar package is depreciated `conda remove binstar; conda install anconda-server`

[2016-01-27 13:40] georgedimitriadis commented on #145
@srossross
Thanks, that solved it.

[2016-01-29 00:03] electronwill opened #243 "document Anaconda repository gunicorn timeout option (for uploading large files?)"
https://github.com/Anaconda-Server/anaconda-server/pull/883 added the optional argument '--timeout 120', where 120 can be any number of seconds. If --timeout is not used, the default value is 30. The docstring says this is the timeout threshold in seconds, and workers silent for more than this many seconds are killed and restarted.

@bkreider says just add this to the correct config file, which @m

[2016-01-29 00:17] bkreider commented on #243
@electronwill Thanks for creating this issue.  I don't know if that is the right syntax, but it looks right.  I've never used the option.

[2016-01-29 00:19] electronwill commented on #243
@rafaelhbarros , can you help us explain to the users how to use --timeout?

[2016-01-29 00:31] rafaelhbarros commented on #243
In a few words on my way to the car: it sets the maximum number of seconds
a request can last before it is forcefully killed. Think you're opening a
web page and it takes too long, you get tired of waiting and close it. The
server does that too, based on the timeout.

I can expand more tomorrow.
On Jan 28, 2016 6:19 PM, "Will Warner" <notifications@github.com> wrote:

[2016-01-29 00:35] electronwill commented on #243
Excellent-- thank you! We'll talk a bit more tomorrow to finish the details (role of workers, path of file to edit, correct syntax.)

[2016-01-29 17:42] srossross commented on #243
@rafaelhbarros can you create a PR to add the new settings and defaults?

[2016-01-29 18:07] srossross commented on #122
@dsludwig is this fixed on develop now?

[2016-01-29 18:48] dsludwig commented on #122
Yup, this passes on my tests. On the next release, this issue will be fixed.

[2016-01-29 22:33] electronwill commented on #243
OK, the documentation changes are live here. http://docs.continuum.io/anaconda-server/faq#how-can-i-stop-timeouts-when-uploading-large-files

[2016-01-29 22:33] #243 closed

[2016-02-03 02:37] jchodera commented on #122
Thanks!  Any idea when the next release will go live?

[2016-02-03 02:44] dsludwig commented on #122
@jchodera we are going through our beta-testing process right now. A new release should go live some time this week - I will update this issue when that happens.

[2016-02-03 02:47] hainm commented on #122
would be greatly helpful update.

[2016-02-03 13:46] stephenakearns commented on #122
@damianavila - I think you may have been experiencing this issue. Able to assist in Validating this fix in beta with @dsludwig ?

[2016-02-03 18:26] damianavila commented on #122
Sure, I will add it to my todo list!

[2016-02-03 22:03] dsludwig commented on #122
@jchodera @hainm the new release (2.15) is live! Please let me know if you still have this problem.

[2016-02-03 22:03] #122 closed

[2016-02-03 22:10] hainm commented on #122
great. thanks.

[2016-02-04 04:46] ijstokes opened #246 "off-line version of docs"
The docs should be cleaned or parameterized so they are functional offline and for corporate settings where a "Careers" link in the footer (e.g.) is not appropriate and where external access may be restricted or totally blocked.

I understood our corporate strategy was Enterprise First, Cloud Second, so having content that first targets enterprise users of our commercial products should, if I'm co

[2016-02-05 12:59] damianavila commented on #122
tested OK as well...

[2016-02-08 09:51] ijstokes opened #249 "absolute doc URLs won't work for enterprise deployments"
We need to generalize all URLs such as those found in the example below to use instead relative URLs (with no hostname) that will not work when the documentation is embedded in the product for an enterprise deployment and placed somewhere with an arbitrary URL path prefix.

[code]

[2016-02-08 09:52] ijstokes opened #250 "Documentation needs to be written from POV of Enterprise Anaconda Repository"
Documentation right now assumes only an Anaconda Cloud audience.  This term and anaconda.org are most likely both not relevant for our enterprise customers.  The documentation needs to use language which reflects that.

[2016-02-09 04:49] mistakevin commented on #219
Old Bootstrap Footer from anaconda-server
[code]

Relevant LESS from anaconda-server
[code]

[2016-02-10 06:51] pelson opened #251 "Twenty packages are not the limiting factor"
https://github.com/Anaconda-Server/docs.anaconda.org/blob/master/content/index.html#L30 states that there is a 20 package limit. I think this is now based on storage, and is capped at 3GB for free accounts. https://anaconda.org/about/pricing

[2016-02-10 06:54] pelson opened #252 "Where does one update their profile picture?"
The UI seems to have changed recently on anaconda.org, and I'm embarrassed to say I can't find a way to change my profile picture. Any advice?

Thanks!

[2016-02-16 16:30] electronwill opened #254 "Does Command Reference need refreshing?"
Is the Command Reference page in the docs working correctly? http://docs.anaconda.org/cli.html#DockerWorker seems to be blank, and I'm wondering if that's because it was an option in prior versions and isn't any longer. And if there are options that have been removed from the client and that isn't yet reflected on the page, are there also options that have been added to the client and that aren't

[2016-02-19 15:13] #116 closed

[2016-03-14 09:37] mbalasso commented on #123
Hello there, any news about this issue? Thanks a lot!

[2016-04-08 19:30] PeterDSteinberg opened #262 "Better describe the build matrix for .binstar.yml"
When you have a build script that uses separate yaml documents in the .binstar.yml, e.g.:
[code]

it would be nice to have some more help in the docs, e.g. in the example code above is the `before_script` `echo abc` also run on `win-32` platform?

[2016-04-19 21:25] gpfreitas opened #264 "Issues with Quickstart of docs.anaconda.org"
1. __Missing link__. Anaconda Cloud should have a link to anaconda.org __[DONE in 524b9cb98190702c07d6d00914cc367511f38da6]__

2. __Missing comma__. "EXAMPLE: To download and install a package with conda run:" should read
   "... with conda, run". __[DONE in 524b9cb98190702c07d6d00914cc367511f38da6]__

3. __Missing link__. A link explaining what a private package is may be
   interesting. __[DONE

[2016-04-19 21:27] gpfreitas commented on #264
PR: #263
@electronwill , any thoughts on items 4 and 5 above?

[2016-04-19 21:39] electronwill commented on #264
4. I did not know that Anaconda Cloud folds case like that! If that's the intended behavior and not just a temporary bug, we should definitely modify the quickstart to use my-notebook.ipynb and probably also add a note about it.

5. Yes, there are already some images in https://github.com/Anaconda-Platform/anaconda-server/tree/develop/docs/content/media/img . For example https://github.com/Anacond

[2016-04-19 21:57] electronwill commented on #264
I'm sorry-- my answer to item 5 was about images in docs files, not images in notebooks! I don't know if and how images and other supporting files can be uploaded with notebooks, although I think that capability may be part of the Anaconda Project work that's currently in progress.

[2016-04-19 22:09] gpfreitas opened #265 "Issues with "Managing your Account" in docs.anaconda.org"
1. __Excessive detail.__ On [Create free account](http://docs.anaconda.org/managing-account.html#CreateFreeAccount) (by the way, shouldn't it be "Create _a_ free account"?) , after we tell the user which form (the Sign Up tab) to fill in, I think we should just say "Follow the on-screen instructions". It should be enough and it's robust to possible changes in the form.

2. __Wrong screenshot.__ Th

[2016-04-19 22:12] kerrywatson1 commented on #265
Yes, make changes and we'll review the diff.

On Tuesday, April 19, 2016, Guilherme Freitas <notifications@github.com>
wrote:

--
_______________________________

Kerry Watson
Documentation manager

[image: Continuum Analytics] <http://continuum.io>

[2016-04-19 22:26] electronwill commented on #265
Yes, PRs for improvements are very welcome! Thank you for offering help with these docs.

You also make a great point about high level robust docs instead of detailed ones that have to change often! As you said, we do still have to make sure they're correct and they're specific enough to work.

It is best to make the PRs at the current docs location: https://github.com/Anaconda-Platform/anaconda-s

[2016-04-21 19:48] gpfreitas commented on #265
@electronwill , is it possible to make those "Click here to edit the docs" links to point to the current docs location (within anaconda-server docs)? I used the old one because all I did was click on that button... which is a _very_ nice workflow, by the way!

[2016-04-21 19:49] electronwill commented on #265
Oh! I didn't realize those "Click here to edit the docs" links were there and pointing to this repo. Yes, let me see about fixing that...

[2016-04-21 23:07] electronwill commented on #265
Ah, I understand now. The docs are now in the private repo Anaconda-Platform/anaconda-server , so if we point the links there it will just be a 404 for everyone who doesn't have access to the repo. We hope to migrate docs.anaconda.org into docs.continuum.io during Q2 2016. For now, I've updated the readme in this repo to explain the situation more clearly, and welcome people who don't have access

[2016-04-25 00:20] ccordoba12 commented on #239
We would like to use this functionality in Navigator as well. How `binstar.yml` needs to be configured to activate these tabs?

[2016-04-26 14:51] stephenakearns opened #267 "Docs - Updating Profile Image is missing from docs"
Can we make mention here in the docs that Anaconda Cloud automatically recognizes the image you associate in your Gravatar account.

http://docs.anaconda.org/managing-account.html

To update, please configure your free gravatar account here (https://en.gravatar.com) and Anaconda-Cloud will automatically pull in the image associated with the email address you signed up in Gravatar with.

[2016-04-26 14:52] stephenakearns commented on #267
Hi Kerry, is this something you'd be able to update quickly?

[2016-04-26 17:43] electronwill commented on #267
OK, Gravatar info is added and live at http://docs.anaconda.org/managing-account.html .

[2016-04-26 17:43] #267 closed

[2016-05-09 19:12] hsparra opened #270 "Docs - Environment section code not working as expected"
In the *Managing Environments* section of the docs, http://docs.anaconda.org/using.html#Environments, the command given for exporting and uploading a conda environment do not seem to work.
* `conda env export -n my-environment` does not produce an environment file. The Conda documentations shows the command `conda env export > environment.yml`. Seem like it should be `conda env export -n my-enviro

[2016-05-27 14:05] stephenakearns opened #271 "Docs: Review and update Organizations section"
Reported by Phil Elson..

Specific issue example:
* [ ] Under "Managing Organizations it says...

But it should actually say...

Steve can be the subject matter expert for questions.

[2016-06-06 21:37] kerrywatson1 commented on #271
https://github.com/ContinuumIO/anaconda-cloud-docs/pull/17

[2016-06-06 22:08] #271 closed

[2016-06-08 17:05] stephenakearns opened #273 "Add to docs: uploading environments"
The goal of uploading/downloading environments: make it easy for two people to be working on the same package(s), notebooks, etc in a consistent environment

With the release of the 1.4.0 release of anaconda-client, you can now upload environments the way you would upload a package or a notebook. Can we add a brief mention of this to the docs page.
- Page affected: "Using..." - https://docs.contin

[2016-06-24 14:36] stephenakearns opened #274 "Add to Repo Docs: alternative way to configure Repository Storage using AWS S3 bucket"
### Suggested Menu navigation/location: (feel free to change)

Repository >> Installation Procedures >> Advanced Topics >> Configure Cloud Storage using S3
### Proposed Warning to include:

NOTE: this is Beta functionality. This deployment configuration should only be performed in consultation with a Continuum Implementation Engineer.
#### OVERVIEW

There are 4 steps to this process
1. Add S3 Buck

[2016-06-24 14:38] stephenakearns commented on #274
cc: @kerrywatson1 (as discussed earlier this week).
cc: @hsparra - LMK if the docs for your client change at all after they go thru this process
cc: @srossross - FYI - based on the earlier meeting, please chime in with any edits.

[2016-06-29 18:41] stephenakearns opened #275 "Repo: Add upgrade instructions to the Admin Guide (in addition to current location)"
@ijstokes commented on [Wed Jun 29 2016](https://github.com/Anaconda-Platform/anaconda-server/issues/2437)

I've looked through docs.continuum.io and there are no clear upgrade instructions for Anaconda Repository.  My original skim of the admin docs and review of the documentation side bar revealed nothing.  I tried a search, same story: no useful links (aside: search needs some work to be uesful

[2016-07-14 16:23] ericmjl opened #276 "Error: no healthy workers"
I recently tried doing automatic builds for my package [hiveplot](https://anaconda.org/ericmjl/hiveplot/).

I am getting the following error:

[code]

[2016-07-24 06:36] ostrokach commented on #252
Any update on this? Or are profile pictures not supported yet?

[2016-08-05 19:21] ijstokes opened #277 "references to suexec should be removed"
Organizations may have their own in-house versions of `sudo` (equivalent functionality but with a different name), and we can certainly reference some made-up name for that alternative to sudo, but we should not use `suexec` anywhere in the documentation.  I believe there are 3 scenarios in order of likelihood for how `suexec` will be interpreted in our docs:
- `suexec` as the Apache `httpd` modul

[2016-10-31 20:40] drf5n commented on #145
Maybe close this.

The http://docs.anaconda.org/#WhatIsAnacondaOrg link redirects to https://docs.continuum.io/anaconda-cloud/#WhatIsAnacondaOrg and no longer has the Getting Started section with the login/whoami stuff that used to be broken for me.

Currently, I can login and logout without infinite loops, but I still cannot download things like

[code]

... without some kind of token / authoriza

[2016-10-31 20:41] #145 closed

[2016-11-06 19:21] jakirkham commented on #252
Any thoughts on this? I'm also clueless as to how to change this setting.

[2016-11-06 19:28] jakirkham commented on #252
Copied to issue ( https://github.com/Anaconda-Platform/support/issues/84 ).

[2016-11-17 06:06] #252 closed

[2019-01-25 17:05] srossross commented on #254
can you please un-assign me from this issue and other anaconda issues?

[2019-01-30 19:11] #251 closed

[2020-04-23 09:54] tensionhead opened #278 "Building an Anaconda Navigator App"
Hi,

I want to build an Anaconda Navigator app using a PyQt5 program. I am trying to follow the steps here:

https://docs.anaconda.com/anaconda/navigator/tutorials/nav-app/

But a few things seem to be missing in this doc, especially in the **Entry key** section:
![Screenshot from 2020-04-23 11:47:01](https://user-images.githubusercontent.com/10595420/80085657-d37ca900-8558-11ea-85ef-370d1f284f1c.

[2020-04-23 16:59] tensionhead commented on #278
Actually, by inspecting the recipe of ```qtconsole```, I just added these lines to my ```meta.yaml```:
[code]

After conda-build and a local install on osx, the Navigator indeed sported my click-launchable app :)
So I didn't even need a ```build.sh``` in the end. Not sure if it works on Windows atm, is there more information somewhere about Navigator Apps?

[2020-04-24 08:46] tensionhead commented on #278
So something I can't get to work is that my icon shows in the Navigator. I put

[code]
and this is also recognized by conda-build (the logo has to be in the recipe), however it's not shown in the Navigator. All other apps (e.g. Jupyter or Spyder) have these ```icon:``` entries and a ```.png``` inside their ```/recipe```, can't figure out why it works for them but not for my app.